{% extends 'mailings/base.html' %}
{% load static %}
{% block content %}
    <main>
        <a href="/client_create/" class="w-100 btn btn-lg btn-outline-primary">Create Client</a>
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-left">
            <div class="col">
                {% for client in object_list %}
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">{{ client }}</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>1</li>
                            <li>2</li>
                            <li>3</li>
                            <li>4</li>
                        </ul>
                        <a href="/client_detail/{{ client.pk }}/" class="w-100 btn btn-lg btn-outline-primary">Client Detail</a>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>

    </main>
{% endblock %}