{% extends 'mailings/base.html' %}
{% load static %}
{% block content %}

<form method="post" action="{% url 'send_email_to_client' client.pk %}">
    {% csrf_token %}

    <label for="selected_message">Выбрать сообщение:</label>
    <select name="selected_message">
        {% for message in messages %}
            <option value="{{ message.id }}">{{ message.subject }}</option>
        {% endfor %}
    </select>

    <label for="selected_setting">Выбрать настройки:</label>
    <select name="selected_setting">
        {% for setting in settings %}
            <option value="{{ setting.id }}">{{ setting.periodicity }}</option>
        {% endfor %}
    </select>

    <button type="submit" class="btn btn-primary">Отправить сообщение</button>
</form>
{% endblock %}