{% extends 'mailings/base.html' %}
{% load static %}
{% block content %}
<main>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-left">
        <div class="col">

            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">{{ settings.client }} </h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>{{ settings.periodicity }}</li>
                        <li>{{ settings.mailing_time }}</li>
                    </ul>
                    <a href="/settings_update/{{ settings.pk }}/" class="w-100 btn btn-lg btn-outline-primary">Update</a>
                    <a href="/settings_delete/{{ settings.pk }}/" class="w-100 btn btn-lg btn-outline-warning">Delete</a>
                </div>
            </div>

        </div>

    </div>

</main>
{% endblock %}